/*
*
*  Plugin css
*
*/

.widefat_custom {
	width: 65%;
}

.advanced-team-showcase-area {
	width: 100%;
	float: left
}

#img_size_area {
	display: none;
}

.atmswc-form-table th {
	vertical-align: top;
	text-align: left;
	padding: 5px 5px 5px 12px;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
}

.atmswc-form-table td {
	padding: 0px 0px;
	line-height: 1.3;
	vertical-align: middle;
}

.cpost th {
	font-size: 12px;
	padding: 2px 2px 2px 5px;
}

.atmswc-drag {
	border: 1px solid #ddd;
	position: relative;
	height: auto;
	min-height: 20px;
	width: 100%;
	line-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
	cursor: move;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	display: block;
	background: #fafafa;
	color: #23282d;
	margin-bottom: 10px;
	padding: 0px 0px 0px 0px;
}

.atmswc-drag:hover {
	border-color: #999;
}


/**********************************
*
*   Responsive
*
***********************************/

.postgrids-col-lg-1,
.postgrids-col-lg-2,
.postgrids-col-lg-3,
.postgrids-col-lg-4,
.postgrids-col-lg-5,
.postgrids-col-lg-6,
.postgrids-col-md-1,
.postgrids-col-md-2,
.postgrids-col-md-3,
.postgrids-col-md-4,
.postgrids-col-md-5,
.postgrids-col-md-6,
.postgrids-col-sm-1,
.postgrids-col-sm-2,
.postgrids-col-sm-3,
.postgrids-col-sm-4,
.postgrids-col-sm-5,
.postgrids-col-sm-6,
.postgrids-col-xs-1,
.postgrids-col-xs-2,
.postgrids-col-xs-3,
.postgrids-col-xs-4,
.postgrids-col-xs-5,
.postgrids-col-xs-6 {
	float: left;
	margin-bottom: 10px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 10px;
	position: relative;
}

.postgrids-col-lg-1 {
	width: 100%;
}

.postgrids-col-lg-2 {
	width: 50%;
}

.postgrids-col-lg-3 {
	width: 33.2222%;
}

.postgrids-col-lg-4 {
	width: 24.9%;
}

.postgrids-col-lg-5 {
	width: 19.9%;
}

.postgrids-col-lg-6 {
	width: 16.6667%;
}


/* md */

@media (min-width: 992px) and (max-width: 1100px) {
	.postgrids-col-md-1 {
		width: 100%;
	}
	.postgrids-col-md-2 {
		width: 50%;
	}
	.postgrids-col-md-3 {
		width: 33.22222222%;
	}
	.postgrids-col-md-4 {
		width: 24.9%;
	}
	.postgrids-col-md-5 {
		width: 19.9%;
	}
	.postgrids-col-md-6 {
		width: 16.66666666666667%;
	}
}


/* sm */

@media (min-width: 650px) and (max-width: 991px) {
	.postgrids-col-sm-1 {
		width: 100%;
	}
	.postgrids-col-sm-2 {
		width: 49.9%;
	}
	.postgrids-col-sm-3 {
		width: 33.22222222%;
	}
	.postgrids-col-sm-4 {
		width: 24.9%;
	}
	.postgrids-col-sm-5 {
		width: 19.9%;
	}
	.postgrids-col-sm-6 {
		width: 16.66666666666667%;
	}
}


/* xs */

@media (max-width: 651px) {
	.postgrids-col-xs-1 {
		width: 100%;
	}
	.postgrids-col-xs-2 {
		width: 49.9%;
	}
	.postgrids-col-xs-3 {
		width: 33.22222222%;
	}
	.postgrids-col-xs-4 {
		width: 24.9%;
	}
	.postgrids-col-xs-5 {
		width: 19.9%;
	}
	.postgrids-col-xs-6 {
		width: 16.66666666666667%;
	}
}


/*****************************************
*
*  				Style One
*
******************************************/

.atmswc-style-1 {
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.atmswc-style-1 .atmswc-style-1-pic {
	margin: 0px;
	position: relative;
	border: 1px solid #00bed3;
	transition: all 0.5s ease 0s;
}

.atmswc-style-1:hover .atmswc-style-1-pic {
	border-color: #33343e;
}

.atmswc-style-1 .atmswc-style-1-pic:after {
	content: "";
	width: 100%;
	height: 0;
	background: #33343e;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transform-origin: 0 0 0;
	transition: all 0.5s ease 0s;
}

.atmswc-style-1:hover .atmswc-style-1-pic:after {
	height: 100%;
	opacity: 0.85;
}

.atmswc-style-1 img {
	width: 100%;
	height: 300px;
}

.atmswc-style-1 .atmswc-style-1-content {
	width: 100%;
	position: absolute;
	top: -80%;
	left: 0;
	transition: all 0.5s ease 0.2s;
}

.atmswc-style-1:hover .atmswc-style-1-content {
	top: 5%;
}

.atmswc-style-1 .title {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 5px 0;
}

.atmswc-style-1 .atmswc-style-1-biography {
	color: #fff;
	font-size: 14px;
	line-height: 26px;
	padding: 10px;
	text-transform: capitalize;
	/*text-align:center;*/
}

.atmswc-style-1 .atmswc-style-1-biography a {
	border: medium none;
	box-shadow: none;
	color: #fff;
	display: block;
	margin-top: 15px;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

.atmswc-style-1 .atmswc-style-1-team-info {
	display: block;
	overflow: hidden;
	/*text-align: center;*/
}

.atmswc-style-1 .atmswc-style-1-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.atmswc-style-1 .atmswc-style-1-social li {
	display: inline-block;
	list-style: outside none none;
}

.atmswc-style-1 .atmswc-style-1-social li a {
	border: 1px solid #fff;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-1 .atmswc-style-1-social li a:hover {
	background: #fff;
	color: #00bed3;
}

.atmswc-style-1 .atmswc-style-1-title {
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 15px 0 0;
}

.atmswc-style-1 .atmswc-style-1-designation {
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.atmswc-style-1 .atmswc-style-1-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-1 .atmswc-style-1-designation>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-1 .atmswc-style-1-mail {
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.atmswc-style-1 .atmswc-style-1-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-1 .atmswc-style-1-mail>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-1 .atmswc-style-1-web {
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.atmswc-style-1 .atmswc-style-1-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-1 .atmswc-style-1-web>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-1 .atmswc-style-1-telephone {
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.atmswc-style-1 .atmswc-style-1-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-1 .atmswc-style-1-telephone>a:hover {
	color: red;
	outline: medium none;
}

@media only screen and (max-width: 990px) {
	.atmswc-style-1 {
		margin-bottom: 30px;
	}
}


/*************************************
*
* 				Style Two
*
**************************************/

.atmswc-style-2 {
	background: #f5f5f5;
	text-align: center;
}

.atmswc-style-2 .atmswc-style-2-pic {
	position: relative;
	overflow: hidden;
	transform: scale(1);
	transition: all 0.3s ease 0s;
}

.atmswc-style-2 .atmswc-style-2-pic::after {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0;
	bottom: 0;
	box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.5);
	content: "";
	height: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	transform: scale3d(0.5, 0.5, 1);
	transform-origin: 50% 50% 0;
	transition: all 0.35s ease 0s;
	width: 100%;
}

.atmswc-style-2:hover .atmswc-style-2-pic:after {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

.atmswc-style-2 .atmswc-style-2-pic img {
	width: 100%;
	height: auto;
}

.atmswc-style-2 .atmswc-style-2-popup {
	bottom: 0;
	color: #fff;
	font-size: 13px;
	opacity: 0;
	padding: 0 5px 20px;
	position: absolute;
	right: 0;
	/*text-align: center;*/
	transform: translate3d(20px, 20px, 0px);
	transition: all 0.35s ease 0s;
	width: 100%;
	z-index: 1;
}

.atmswc-style-2:hover .atmswc-style-2-popup {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
	top: 60px;
}

.atmswc-style-2 .atmswc-style-2-popup>a {
	border: medium none;
	box-shadow: none;
	color: #fff;
	display: block;
	margin-top: 10px;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

.atmswc-style-2 .atmswc-style-2-title {
	font-size: 22px;
	font-weight: 700;
	color: #3b3b3b;
	text-transform: capitalize;
	margin: 0 0 8px 0;
}

.atmswc-style-2 .atmswc-style-2-designation {
	font-size: 13px;
	font-weight: 500;
	color: #6e6e70;
	text-transform: capitalize;
}

.atmswc-style-2 .atmswc-style-2-team-info .atmswc-style-2-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-2 .atmswc-style-2-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-2 .atmswc-style-2-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-2 .atmswc-style-2-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-2 .atmswc-style-2-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-2 .atmswc-style-2-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-2 .atmswc-style-2-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-2 .atmswc-style-2-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-2 .atmswc-style-2-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-2 .atmswc-style-2-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-2 .atmswc-style-2-biography {
	color: #444;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

.atmswc-style-2 .atmswc-style-2-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-2 .atmswc-style-2-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-2 .atmswc-style-2-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-2 .atmswc-style-2-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-2-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-2-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-2-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-2-social li a:hover {
	background: #fff;
	color: #00bed3;
}

@media only screen and (max-width: 990px) {
	.atmswc-style-2 {
		margin-bottom: 30px;
	}
}


/*************************************
*
* 				Style Three
*
**************************************/

.atmswc-style-3-pic {
	width: 100%;
	height: auto;
}

.atmswc-style-3 .atmswc-style-3-pic>a {
	border: medium none;
	box-shadow: none;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-3 .atmswc-style-3-team-info {
	color: #333;
	padding: 25px 9px 9px 15px;
	text-align: center;
}

.atmswc-style-3 .atmswc-style-3-title {
	color: #333;
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 18px;
	font-family: Open Sans;
}

.atmswc-style-3 .atmswc-style-3-designation {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-3 .atmswc-style-3-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-3 .atmswc-style-3-designation>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-3 .atmswc-style-3-mail {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-3 .atmswc-style-3-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-3 .atmswc-style-3-mail>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-3 .atmswc-style-3-web {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-3 .atmswc-style-3-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-3 .atmswc-style-3-web>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-3 .atmswc-style-3-telephone {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-3 .atmswc-style-3-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-3 .atmswc-style-3-telephone>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-3 .atmswc-style-3-social {
	padding: 0;
	margin: 0;
	list-style: none;
}

.atmswc-style-3 .atmswc-style-3-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-3 .atmswc-style-3-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-3 .atmswc-style-3-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-3-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-3-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-3-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-3-social li a:hover {
	background: #fff;
	color: #00bed3;
}


/*************************************
*
* 				Style Four
*
**************************************/

.atmswc-style-4 {
	background: #f37a7a none repeat scroll 0 0;
	/*box-shadow: 3px 5px 5px -2px;*/
	text-align: left;
}

.atmswc-style-4 .atmswc-style-4-pic a {
	border: medium none;
	box-shadow: none;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-4 .atmswc-style-4-team-info {
	color: #333;
	padding: 25px 9px 9px 15px;
}

.atmswc-style-4 .atmswc-style-4-title {
	color: #333;
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 18px;
	font-family: Open Sans;
}

.atmswc-style-4 .atmswc-style-4-designation {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-4 .atmswc-style-4-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-4 .atmswc-style-4-designation>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-4 .atmswc-style-4-social {
	padding: 0;
	margin: 0;
	list-style: none;
}

.atmswc-style-4 .atmswc-style-4-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-4 .atmswc-style-4-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-4 .atmswc-style-4-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-4-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-4-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-4-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-4-social li a:hover {
	background: #fff;
	color: #00bed3;
}


/*************************************
*
* 				Style Five
*
**************************************/

.atmswc-style-5 {
	background: #f37a7a none repeat scroll 0 0;
	/*box-shadow: 3px 5px 5px -2px;*/
	text-align: left;
}

.atmswc-style-5-pic {
	display: block;
	overflow: hidden;
	transition: all 0.3s ease-in-out 0s;
	padding: 10px;
}

.atmswc-style-5-pic img {
	transition: all 0.3s ease-in-out 0s;
}

.atmswc-style-5-pic img:hover {
	transform: scale(1.3);
	transition: all 0.3s ease-in-out 0s;
}

.atmswc-style-5 .atmswc-style-5-pic a {
	border: medium none;
	box-shadow: none;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-5 .atmswc-style-5-team-info {
	color: #333;
	padding: 25px 9px 9px 15px;
}

.atmswc-style-5 .atmswc-style-5-title {
	color: #333;
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 18px;
	font-family: Open Sans;
	text-transform: uppercase;
}

.atmswc-style-5 .atmswc-style-5-designation {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-5 .atmswc-style-5-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-5 .atmswc-style-5-designation>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-5 .atmswc-style-5-mail {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-5 .atmswc-style-5-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-5 .atmswc-style-5-mail>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-5 .atmswc-style-5-web {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-5 .atmswc-style-5-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-5 .atmswc-style-5-web>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-5 .atmswc-style-5-telephone {
	color: #444;
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-5 .atmswc-style-5-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-5 .atmswc-style-5-telephone>a:hover {
	color: red;
	outline: medium none;
}

.atmswc-style-5 .atmswc-style-5-social {
	padding: 0;
	margin: 0;
	list-style: none;
}

.atmswc-style-5 .atmswc-style-5-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-5 .atmswc-style-5-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-5 .atmswc-style-5-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-5-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-5-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-5-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-5-social li a:hover {
	background: #fff;
	color: #00bed3;
}


/*************************************
*
* 				Style Six
*
**************************************/

.atmswc-style-6 {
	background: #ffffff none repeat scroll 0 0;
	text-align: left;
}

.atmswc-style-6-header {
	border: 1px solid #e7e7e7;
	transition: all 0.2s ease-in-out 0s;
}

.atmswc-style-6-header:hover {
	margin-top: -20px;
}

.atmswc-style-6 .atmswc-style-6-team-info {
	padding: 0 5px;
}

.atmswc-style-6 .atmswc-style-6-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-6 .atmswc-style-6-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-6 .atmswc-style-6-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-6 .atmswc-style-6-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-6-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-6-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-6-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-6-social li a:hover {
	background: #fff;
	color: #00bed3;
}

.atmswc-style-6 .atmswc-style-6-team-info .atmswc-style-6-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-6 .atmswc-style-6-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-6 .atmswc-style-6-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-6 .atmswc-style-6-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-6 .atmswc-style-6-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-6 .atmswc-style-6-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-6 .atmswc-style-6-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-6 .atmswc-style-6-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-6 .atmswc-style-6-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-6 .atmswc-style-6-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-6 .atmswc-style-6-biography {
	color: #444;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
}


/*************************************
*
* 				Style Seven
*
**************************************/

.atmswc-style-7 {
	text-align: center;
	background: #727cb6;
	transition: all 0.5s ease-in-out 0s;
}

.atmswc-style-7>.atmswc-style-7-header {
	color: #fff;
	background: #273238;
	position: relative;
	transition: all 0.5s ease 0s;
}

.atmswc-style-7>.atmswc-style-7-header:after {
	content: "";
	border-bottom: 40px solid #727cb6;
	border-left: 240px solid transparent;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.atmswc-style-7:hover .atmswc-style-7-header {
	transition: all 0.5s ease 0s;
}

.atmswc-style-7 .atmswc-style-7-team-info .atmswc-style-7-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-7 .atmswc-style-7-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-7 .atmswc-style-7-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-7 .atmswc-style-7-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-7 .atmswc-style-7-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-7 .atmswc-style-7-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-7 .atmswc-style-7-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-7 .atmswc-style-7-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-7 .atmswc-style-7-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-7 .atmswc-style-7-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-7 .atmswc-style-7-biography {
	color: #444;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
	/*text-align: center;*/
}

.atmswc-style-7 .atmswc-style-7-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-7 .atmswc-style-7-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-7 .atmswc-style-7-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-7 .atmswc-style-7-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-7-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-7-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-7-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-7-social li a:hover {
	background: #fff;
	color: #00bed3;
}


/*************************************
*
* 				Style Eight
*
**************************************/

.atmswc-style-8 {
	text-align: center;
}

.atmswc-style-8 .atmswc-style-8-pic {
	position: relative;
}

.atmswc-style-8-pic img {
	width: 100%;
	height: 300px;
}

.atmswc-style-8 .atmswc-style-8-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease 0s;
}

.atmswc-style-8 .atmswc-style-8-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-8 .atmswc-style-8-team-info .atmswc-style-8-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-8 .atmswc-style-8-team-info .atmswc-style-8-title a {
	border: medium none;
	box-shadow: none;
	color: #333;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-8 .atmswc-style-8-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-8 .atmswc-style-8-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-8 .atmswc-style-8-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-8 .atmswc-style-8-nail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-8 .atmswc-style-8-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-8 .atmswc-style-8-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-8 .atmswc-style-8-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-8 .atmswc-style-8-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-8 .atmswc-style-8-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-8 .atmswc-style-8-biography {
	color: #444;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.atmswc-style-8 .atmswc-style-8-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-8 .atmswc-style-8-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-8 .atmswc-style-8-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-8 .atmswc-style-8-social li a:hover {
	background: #000;
	color: #00bed3;
}

.atmswc-style-8:hover .atmswc-style-8-overlay {
	background-color: rgba(255, 255, 255, 0.75);
	transition: all 0.3s ease 0s;
}

.atmswc-style-8:hover .team_social {
	top: 80%;
	opacity: 1;
	transition: all 0.3s ease 0s;
}

@media screen and (max-width: 990px) {
	.atmswc-style-8 {
		margin-bottom: 30px;
	}
}

.social-popup .atmswc-style-8-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-8-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-8-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-8-social li a:hover {
	background: #fff;
	color: #00bed3;
}


/*************************************
*
* 				Style Nine
*
**************************************/

.atmswc-style-9 {
	text-align: center;
}

.atmswc-style-9 .atmswc-style-9-header {
	position: relative;
	color: #fff;
	overflow: hidden;
}

.atmswc-style-9 .atmswc-style-9-header:hover ..atmswc-style-9-pic {
	transform: translate3d(0px, -100%, 0px);
}

.atmswc-style-9 .atmswc-style-9-header:hover .atmswc-style-9-overlay {
	transform: translate3d(0px, 0px, 0px);
}

.atmswc-style-9 .atmswc-style-9-pic {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate3d(0px, 0px, 0px);
	transition: all 0.5s ease-in-out 0s;
}

.atmswc-style-9 .atmswc-style-9-pic img {
	width: 100%;
	height: auto;
}

.atmswc-style-9 .atmswc-style-9-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-9 .atmswc-style-9-team-info .atmswc-style-9-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-9 .atmswc-style-9-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-9 .atmswc-style-9-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-9 .atmswc-style-9-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-9 .atmswc-style-9-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-9 .atmswc-style-9-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-9 .atmswc-style-9-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-9 .atmswc-style-9-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-9 .atmswc-style-9-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-9 .atmswc-style-9-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-9 .atmswc-style-9-biography {
	color: #fff;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 40px;
}

.atmswc-style-9 .atmswc-style-9-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-9 .atmswc-style-9-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-9 .atmswc-style-9-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-9 .atmswc-style-9-social li a:hover {
	background: #000;
	color: #00bed3;
}

.atmswc-style-9 .atmswc-style-9-popup {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 5px;
	padding: 0;
}

.atmswc-style-9 .atmswc-style-9-popup>li {
	display: inline-block;
}

.atmswc-style-9 .atmswc-style-9-popup>li>a {
	color: #fff;
	font-size: 18px;
	padding: 0 4px;
	outline: none;
	text-decoration: none;
	box-shadow: none;
}

.atmswc-style-9 .atmswc-style-9-popup>li>a:hover {
	color: #fff;
	outline: none;
	text-decoration: none;
}

.atmswc-style-9 .atmswc-style-9-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #354b60;
	padding: 0 20px;
	transform: translate3d(0px, 100%, 0px);
	transition: all 0.5s ease-in-out 0s;
}

@media only screen and (max-width: 990px) {
	.atmswc-style-9 .atmswc-style-9-header {
		margin-bottom: 20px;
	}
}

.social-popup .atmswc-style-9-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-9-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-9-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-9-social li a:hover {
	background: #fff;
	color: #00bed3;
}


/*************************************
*
* 				Style Ten
*
**************************************/

.atmswc-style-10 {
	text-align: center;
}

.atmswc-style-10 .atmswc-style-10-header {
	position: relative;
	text-align: center;
	overflow: hidden;
}

.atmswc-style-10 .atmswc-style-10-header .atmswc-style-10-pic {
	position: relative;
}

.atmswc-style-10 .atmswc-style-10-header .atmswc-style-10-pic:before {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: all 0.5s ease 0s;
}

.atmswc-style-10 .atmswc-style-10-header:hover .atmswc-style-10-pic:before {
	opacity: 1;
}

.atmswc-style-10 .atmswc-style-10-header .atmswc-style-10-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.atmswc-style-10 .atmswc-style-10-header .atmswc-style-10-overlay a {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	box-shadow: none;
	color: #00afff;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	outline: medium none;
	position: relative;
	text-decoration: none;
	top: 45%;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
	width: 40px;
}

.atmswc-style-10 .atmswc-style-10-header .atmswc-style-10-overlay a:hover {
	text-decoration: none;
	color: #718873;
}

.atmswc-style-10 .atmswc-style-10-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-10 .atmswc-style-10-team-info .atmswc-style-10-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-10 .atmswc-style-10-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-10 .atmswc-style-10-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-10 .atmswc-style-10-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-10 .atmswc-style-10-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-10 .atmswc-style-10-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-10 .atmswc-style-10-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-10 .atmswc-style-10-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-10 .atmswc-style-10-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-10 .atmswc-style-10-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-10 .atmswc-style-10-biography {
	color: #333;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.atmswc-style-10 .atmswc-style-10-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-10 .atmswc-style-10-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-10 .atmswc-style-10-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-10 .atmswc-style-10-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-10-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-10-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-10-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-10-social li a:hover {
	background: #fff;
	color: #00bed3;
}

@media only screen and (max-width: 990px) {
	.atmswc-style-10 .atmswc-style-10-header {
		margin-bottom: 20px;
	}
}


/*************************************
*
* 				Style Eleven
*
**************************************/

.atmswc-style-11 {
	text-align: center;
}

.atmswc-style-11 .atmswc-style-11-header {
	position: relative;
	text-align: center;
	overflow: hidden;
}

.atmswc-style-11 .atmswc-style-11-header img {
	width: 100%;
	height: auto;
}

.atmswc-style-11 .atmswc-style-11-overlay {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.5s ease 0s;
}

.atmswc-style-11 .atmswc-style-11-popup {
	border: medium none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 40px;
	outline: medium none;
	position: relative;
	top: 40%;
	width: 50px;
}

.atmswc-style-11 .atmswc-style-11-popup:hover {
	color: #fff;
}

.atmswc-style-11 .atmswc-style-11-header:hover .atmswc-style-11-overlay {
	top: 0;
}

.atmswc-style-11 .atmswc-style-11-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-11 .atmswc-style-11 .atmswc-style-11-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-11 .atmswc-style-11-team-info .atmswc-style-11-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-11 .atmswc-style-11-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-11 .atmswc-style-11-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-11 .atmswc-style-11-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-11 .atmswc-style-11-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-11 .atmswc-style-11-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-11 .atmswc-style-11-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-11 .atmswc-style-11-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-11 .atmswc-style-11-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-11 .atmswc-style-11-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-11 .atmswc-style-11-biography {
	color: #333;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.atmswc-style-11 .atmswc-style-11-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-11 .atmswc-style-11-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-11 .atmswc-style-11-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-11 .atmswc-style-11-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-11-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-11-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-11-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-11-social li a:hover {
	background: #fff;
	color: #00bed3;
}

@media only screen and (max-width: 990px) {
	.atmswc-style-11 .atmswc-style-11-header {
		margin-bottom: 20px;
	}
}


/*************************************
*
* 				Style Twevlve
*
**************************************/

.atmswc-style-12 {
	text-align: center;
}

.atmswc-style-12 .atmswc-style-12-header {
	position: relative;
	text-align: center;
	overflow: hidden;
}

.atmswc-style-12 .atmswc-style-12-header .atmswc-style-12-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 0s;
}

.atmswc-style-12 .atmswc-style-12-header:hover .atmswc-style-12-overlay {
	background: rgba(0, 0, 0, 0.8);
}

.atmswc-style-12 .atmswc-style-12-header .atmswc-style-12-popup {
	border: 4px solid #fff;
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
	transition: all 0.5s ease 0s;
	opacity: 0;
}

.atmswc-style-12 .atmswc-style-12-header .atmswc-style-12-popup:hover {
	color: #fff;
}

.atmswc-style-12 .atmswc-style-12-header:hover .atmswc-style-12-popup {
	top: 40%;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	opacity: 1;
}

.atmswc-style-12 .atmswc-style-12-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-12 .atmswc-style-12 .atmswc-style-12-team-info {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.atmswc-style-12 .atmswc-style-12-team-info .atmswc-style-12-title {
	color: #333;
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 5px;
}

.atmswc-style-12 .atmswc-style-12-designation {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-12 .atmswc-style-12-designation>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-12 .atmswc-style-12-mail {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-12 .atmswc-style-12-mail>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-12 .atmswc-style-12-web {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-12 .atmswc-style-12-web>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-12 .atmswc-style-12-telephone {
	color: #444;
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 14px;
	font-family: Open Sans;
}

.atmswc-style-12 .atmswc-style-12-telephone>a {
	border: medium none;
	box-shadow: none;
	color: #000;
	outline: medium none;
	text-decoration: none;
}

.atmswc-style-12 .atmswc-style-12-content {
	display: block;
	overflow: hidden;
}

.atmswc-style-12 .atmswc-style-12-biography {
	color: #333;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.atmswc-style-12 .atmswc-style-12-social {
	list-style: outside none none;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0 5px;
}

.atmswc-style-12 .atmswc-style-12-social li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin-bottom: 10px;
}

.atmswc-style-12 .atmswc-style-12-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
	text-align: center;
}

.atmswc-style-12 .atmswc-style-12-social li a:hover {
	background: #000;
	color: #00bed3;
}

.social-popup .atmswc-style-12-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-12-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-12-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-12-social li a:hover {
	background: #fff;
	color: #00bed3;
}

@media only screen and (max-width: 990px) {
	.atmswc-style-12-header {
		margin-bottom: 20px;
	}
}


/*******************

 Popup Area Css
 
********************/

.lightbox {
	display: none;
}

.atmswc-popup-left {
	display: block;
	float: left;
	margin-right: 5%;
	overflow: hidden;
	width: 20%;
	text-align: center;
}

.atmswc-popup-right {
	display: block;
	overflow: hidden;
}

.atmswc-popup-left>h2 {
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	padding: 5px;
}

.atmswc-popup-left .atmswc-style-1-designation {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	overflow: hidden;
}

.social-popup .atmswc-style-1-social {
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
}

.social-popup .atmswc-style-1-social li {
	display: inline-block;
	list-style: outside none none;
}

.social-popup .atmswc-style-1-social li a {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #ddd;
	display: inline-block;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin: 0 2px;
	outline: medium none;
	transition: all 0.5s ease 0s;
	width: 30px;
}

.social-popup .atmswc-style-1-social li a:hover {
	background: #fff;
	color: #00bed3;
}

@media all and (max-width: 420px) {
	.atmswc-popup-left {
		display: block;
		float: none;
		margin-right: 0%;
		overflow: hidden;
		width: 100%;
	}
	.atmswc-popup-right {
		display: block;
		overflow: hidden;
	}
}

@media screen and (max-width: 600px) {
	.atmswc-popup-left {
		display: block;
		float: none;
		margin-right: 0%;
		overflow: hidden;
		width: 100%;
	}
	.atmswc-popup-right {
		display: block;
		overflow: hidden;
	}
}